<!DOCTYPE html>
<html>
  <head>
    <title>ArtistryChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Artistry</h1>
    <h2>A Flatiron Practice Lab</h2>
    <hr>
    <%= yield %>
    <hr>
    <%= link_to 'Instruments Index', instruments_path %> | <%= link_to 'Artists Index', artists_path %>
  </body>
</html>
